.row {
    width: 600px;
    aspect-ratio: 5/1;
    border: 1px solid grey;
    display: flex
}

.col {
    flex: 1;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.mine {
    background-color: rgb(113, 47, 47);
}

.blank {
    background-color: grey;
}